<h1>What Series would you like to post?</h1>

<%= form_for(@post) do |f| %>
  <%= f.label :webseries_name, "Title" %><br>
  <%= f.text_field :webseries_name %>
  <br>
  <%= f.label :link, "Link to Webseries" %><br>
  <%= f.text_field :link %>
  <br>
  <%= f.label :link_to_trailer, "Link to Trailer" %><br>
  <%= f.text_field :link_to_trailer %>
  <br>
  <%= f.label :description, "Description" %><br>
  <%= f.text_field :description %>
  <br>
  <%= f.submit 'Submit' %>
<% end %>
