<br />
<%= button_to 'Back to Index', posts_path, method: :get %>

<div id="webseries_video_embed" style="text-align: center">
  <h1><b><%= @post.webseries_name %></b></h1>
  <br />
  <%= webseries_video @post.link %>
  <%= button_to "Visit series channel", @post.link %>
</div>

<br />

<h4><%= @post.description %></h4>

<%= paginate @reviews %>
<dl>
<% @reviews.each do |review| %>
  <dt><%=review.user.username %> says:</dt>
  <% if review.user == current_user && session[:edit] %>
      <% @review = review %>
      <%= render "review_form" %>
    <% elsif review.user == current_user || current_user.try(:admin?) %>
      <dd>Rating: <%=review.rating  %></dd>
      <dd>Review: <%=review.body  %></dd>
      <%= button_to "Edit Review", edit_post_review_path(@post, review), method: :get %>
      <%= button_to "Delete Review", post_review_path(@post, review), method: :delete %>
    <% else %>
      <dd>Rating: <%=review.rating  %></dd>
      <dd>Review: <%=review.body  %></dd>
    <% end %>
  <br><br>
<% end %>
</dl>

<% @check = nil %>
<% Review.all.each do |review| %>
  <% if review.user == current_user %>
  <% @check = true %>
  <% end %>
<% end %>
<% if user_signed_in? && @check %>
<% elsif !user_signed_in? %>
  <p>
    Please sign in to write a review.
  </p>
<% else %>
  <%= render "review_form" %>
<% end %>

<% session[:edit] = nil %>

<br />

<% if current_user == @post.user %>
  <table>
    <tr>
      <th>
        <%= button_to "Update this Post", edit_post_path(@post), method: :get %>
      </th>
      <th>
        <%= button_to "Delete this Post", post_path(@post), method: :delete %>
      </th>
      <th>
        <%= button_to 'Post an Episode', new_post_path, method: :get %>
      </th>
      <th>
        <%= button_to 'Back to Index', posts_path, method: :get %>
      </th>
    </tr>
  </table>
<% end %>
