<br />
<%= button_to 'Back to Index', posts_path, method: :get, class: "alert button expand" %>

<div id="webseries_video_embed" style="text-align: center">
  <h1><b><%= @post.webseries_name %></b></h1>
  <br />
  <%= webseries_video @post.link %>
  <%= button_to "Visit series channel", @post.link, class: "alert button expand" %>
</div>

<br />

<h4><%= @post.description %></h4>

<% if !user_signed_in? %>
  <p>
    Please sign in to write a review.
    Please sign in to vote on a review.
  </p>
<% end %>

<%= paginate @reviews %>

<dl>
<% @reviews.each do |review| %>
  <dt><%=review.user.username %> says:</dt>
  <% if review.user == current_user && session[:edit] %>
      <% @review = review %>
      <%= render "review_form" %>
    <% elsif review.user == current_user || current_user.try(:admin?) %>
      <dd>Rating: <%=review.rating  %></dd>
      <dd>Review: <%=review.body  %></dd>
      <%= button_to "Edit Review", edit_post_review_path(@post, review), method: :get, class: "small alert button expand" %>
      <%= button_to "Delete Review", post_review_path(@post, review), method: :delete, class: "small alert button expand" %>
    <% else %>
      <dd>Rating: <%=review.rating  %></dd>
      <dd>Review: <%=review.body  %></dd>
    <% end %>
    <% if user_signed_in? %>
      <div class="vote-block" id="<%= review.id %>" >
        <%= button_to "Upvote", upvote_review_votes_path(review), id: 'uvote', class: "tiny alert button expand" %>
        Upvotes: <div class=uvTotal><%= review.upvote_total%></div>
        <%= button_to "Downvote", downvote_review_votes_path(review), id: 'dvote', class: "tiny alert button expand" %>
        Downvotes: <div class=dvTotal><%= review.downvote_total%></div>
        <% if current_user.voted?(review.id) %>
          <%= button_to "UnVote", unvote_review_votes_path(review), id: 'unvote' %>
        <% else %>
          <%= button_to "UnVote", unvote_review_votes_path(review), id: 'unvote', hidden: 'true' %>
        <% end %>
      </div>
    <% else %>
      <div class="vote-block" id="<%= review.id %>" >
        Upvotes: <div class=uvTotal><%= review.upvote_total%></div>
        Downvotes: <div class=dvTotal><%= review.downvote_total%></div>
      </div>
    <% end %>
  <br><br>
<% end %>
</dl>

<% @check = nil %>
<% @reviews.each do |review| %>
  <% if review.user == current_user %>
    <% @check = true %>
  <% end %>
<% end %>



<% if user_signed_in? && !@check %>
  <%= render "review_form" %>
<% end %>

<% session[:edit] = nil %>

<br />

<% if current_user == @post.user %>
  <div id="post_buttons" style="position: relative; top: 50%; transform: translateY(-50%);" >
    <table>
      <tr>
        <th>
          <%= button_to "Update this Post", edit_post_path(@post), method: :get %>
        </th>
        <th>
          <%= button_to "Delete this Post", post_path(@post), method: :delete %>
        </th>
        <th>
          <%= button_to 'Post an Series', new_post_path, method: :get %>
        </th>
        <th>
          <%= button_to 'Back to Index', posts_path, method: :get %>
        </th>
      </tr>
    </table>
  </div>
<% end %>
