<%= link_to "Posts Index", posts_path %>

<h1><%= @post.webseries_name %></h1>

<h1><%= @post.description %></h1>

<h1>Link to Webseries</h1><%= @post.link %>

<% if @post.link_to_trailer %>
  <h3>Link to Trailer</h3>
  <%= @post.link_to_trailer %>
<% end %>
<br />
<% if current_user == @post.user %>
  <%= button_to "Update", edit_post_path(@post), method: :get %>
  <%= button_to "Delete Post", post_path(@post), method: :delete %>
<% end %>

<dl>
<% @reviews.each do |review| %>
  <dt><%=review.user.username %> says:</dt>
  <% if review.user == current_user && session[:edit] %>
      <% @review = review %>
      <%= render "review_form" %>
    <% elsif review.user == current_user %>
      <dd>Rating: <%=review.rating  %></dd>
      <dd>Review: <%=review.body  %></dd>
      <%= button_to "Edit Review", edit_post_review_path(@post, review), method: :get %>
      <%= button_to "Delete Review", post_review_path(@post, review), method: :delete %>
    <% else %>
      <dd>Rating: <%=review.rating  %></dd>
      <dd>Review: <%=review.body  %></dd>
    <% end %>
  <br><br>
<% end %>
</dl>

<% @check = nil %>
<% Review.all.each do |review| %>
  <% if review.user == current_user %>
  <% @check = true %>
  <% end %>
<% end %>
<% if user_signed_in? && @check %>
<% elsif !user_signed_in? %>
  <p>
    Please sign in to write a review.
  </p>
<% else %>
  <%= render "review_form" %>
<% end %>

<% session[:edit] = nil %>
